.rtl {
    direction: ltr;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #1b1a30;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #d38b43;
}

.navbar-light .navbar-tool-icon-box {
    color: #1b1a30;
}

.search_button {
    background-color: #1b1a30;
}

.navbar-stuck-menu {
    background-color: #1b1a30;
}

.mega-nav .nav-item .nav-link {
    color: #1b1a30 !important;
}

.owl-theme .owl-nav [class*="owl-"],
.checkbox-alphanumeric label:hover {
    border-color: #1b1a30;
}

::-webkit-scrollbar-thumb:hover {
    background: #d38b43 !important;
}

[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

[type="radio"]+span:after {
    box-shadow: 0 0 0 0.10em#d38b43;
}

[type="radio"]:checked+span:after {
    background: #d38b43;
    box-shadow: 0 0 0 0.10em#d38b43;
}

.navbar-tool .navbar-tool-label {
    background-color: #d38b43 !important;
}

.btn--primary {
    color: #fff;
    background-color: #1b1a30 !important;
    border-color: #1b1a30 !important;
}

.btn--primary:hover {
    color: #fff;
    background-color: #1b1a30 !important;
    border-color: #1b1a30 !important;
}

.btn-secondary {
    background-color: #d38b43 !important;
    border-color: #d38b43 !important;
}

.btn-outline-accent:hover {
    color: #fff;
    background-color: #1b1a30;
    border-color: #1b1a30;
}

.btn-outline-accent {
    color: #1b1a30;
    border-color: #1b1a30;
}

.text-accent {
    color: #1b1a30;
}

.text-base-2,
a:hover {
    color: #d38b43;
}

.text-primary,
.text-base,
.active-menu {
    color: #1b1a30 !important;
}

.page-item.active>.page-link {
    box-shadow: 0 0.5rem 1.125rem -0.425rem#1b1a30
}

.page-item.active .page-link {
    background-color: #1b1a30;
}

.btn-outline-accent:not(:disabled):not(.disabled):active,
.btn-outline-accent:not(:disabled):not(.disabled).active,
.show>.btn-outline-accent.dropdown-toggle {
    background-color: #d38b43;
    border-color: #d38b43;
}

.btn-outline-primary {
    color: #1b1a30;
    border-color: #1b1a30;
}

.btn-outline-primary:hover {
    background-color: #d38b43;
    border-color: #d38b43;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0#d38b43;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: #1b1a30;
    border-color: #1b1a30;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0#1b1a30;
}

.for-discoutn-value {
    background: #1b1a30;
}

.dropdown-menu {
    margin-left: -8px !important;
}

:root {
    --base: #1b1a30;
    --base-2: #d38b43;
}

span.badge-accent {
    color: var(--base);
    background-color: #1b1a3040;
}

span.badge-accent:hover {
    color: var(--base) !important;
}
a {
    text-decoration: none;
}